.study-break-container{
    
    height:80vh;
    border: 2px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-break-image{
    width:50vw;
    max-width: 550px;
}

.small-timer-break-container{
    display:flex;
    max-width:400px;
    position:relative;
    justify-content: center;
    align-items: center;
}

.end-break-btn{
    margin-top:3%;
    left: -46%;
    position:absolute;
    width:42%;
    transition: transform 0.2s;
}

.end-break-btn:hover{
    transform: translateY(-2px) translateX(-1px) rotateZ(-2deg);
    filter:drop-shadow( -5px 2px);
    cursor: pointer;
}
.resume-from-break-btn{
    right: -46%;
    margin-top:3%;
    position:absolute;
    width:42%;
    transition: transform 0.2s;
}
.resume-from-break-btn:hover{
    transform: translateY(-2px) translateX(1px) rotateZ(2deg);
    filter:drop-shadow( 5px 2px);
    cursor: pointer;
}