/* Music.css */
.music-container {
    position: fixed;
    top: 280px;
    left: 280px;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
  }
  